:root {
    --body-color-1: rgb(23, 26, 36);
    --main-txt-color: rgb(198, 219, 245);
}

/*z-indexes

#nav-bar : 10
close-tag
#about-header : 1
#about-image-container:0
*/

* {
    color: var(--main-txt-color);
}

html {
    font-family: sans-serif;
}

a {
    color: whitesmoke;
    text-decoration: none;

}

body {
    position: relative;
    background: var(--body-color-1);
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

main > section {
    margin: 0;
    padding: 0;
}
/*
::-webkit-scrollbar {
    display: none;
}
*/
/* Start styles for nav-bar elements*/
#nav-bar {
    position: fixed;
    z-index: 10;
    top: 7vh;
    right: 5px;
}

#menu {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-txt-color);
}

#menu-span {
    position: absolute;
    display: flex;
    column-gap: 0.5em;
    align-items: center;

    right: 3em;
    transition: opacity 3s;
}

#menu-btn {
    color: var(--main-txt-color);
    font-weight: 900;
    letter-spacing: 3px;
    cursor: pointer;

    border: 2px solid var(--main-txt-color);
    border-radius: 50%;

    background: transparent;
    height: 3em;
    width: 3em;

    transition: scale 0.3s ease-out, letter-spacing 0.3s ease-out;

}

#menu-btn:hover {
    scale: 1.1;
    letter-spacing: 0;
}

#menu-container {

    display: none;
    flex-direction: column;
    height: 26em;
    width: 20em;
    background: black;
    color: var(--main-txt-color);
    cursor: auto;

    transition: opacity 0.55s ease-out;
    margin: 0;
    padding: 3em 1.5em;
    border-radius: 1em;

    box-sizing: border-box;
    overflow-y: scroll;

}

#menu-container::-webkit-scrollbar {
    width: 5px;
}

#menu-container::-webkit-scrollbar-track {
    background: black;
}

#menu-container::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

#menu-container::-webkit-scrollbar-thumb:hover {
    background: brown;
}



.menu-links-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    row-gap: 1.7rem;
    transition: ease-out 1s transform;
}

.nav-link {
    font-size: 1.8rem;
    cursor: pointer;
}



.nav-link::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(12, 80, 0);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;

    transition: width 0.5s ease-out, border-radius 0.5s ease-out;
}

.nav-link:hover::before {
    background-color: rgb(65, 151, 255);
    width: 20px;
    border-radius: 0;
}

.material-symbols-outlined {
    z-index: 3;
    color: var(--main-txt-color);
    scale: 1.5;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    transition: opacity 0.3s ease-out, color 0.3s ease-out;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    opacity: 0.7;
    color: brown;
}

/*----Ends nav-bar styles-----*/

/*Styles for Sections */

section#about {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    z-index: 1;
    position: relative;

    background: linear-gradient(45deg, rgb(60, 60, 60) 0%, #222222 15%, rgb(33, 6, 6) 80%);

}

#about #about-header {
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0;
}

#about-header>h1.title {
    display: block;
    position: relative;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 10vw;
    top: 50vh;
    text-align: left;
    transform: translateY(-50%);

    transition: font-size 0.5s ease-out;
}

@media (min-width:850px) {
    #about-header>h1.title {
        font-size: 8vw;
    }
}

h1.title>.author-name>span {
    font-size: 12vw;
    color: rgb(17, 95, 46);
}

#about-header .letters {
    display: inline-block;
    transition: transform 0.4s ease-out;
}

.author-name .letters:hover {

    transform: translateY(10px);
    cursor: pointer;
}

#about>#author-img-wrap {
    z-index: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: transparent;
}

#author-img-wrap img {
    position: absolute;
    bottom: 0;
    right: -5em;
    height: 90%;
    width: 60%;

    object-fit: cover;
    filter: brightness(80%);
}

/*Youtube channel section*/
section#author-yt-channel {
    color: #222222;
    background: rgb(1, 55, 21);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5em 0;
    width: max-content;
    padding: 1vw 3vw;
    border-radius: 0 3vw 3vw 0;
}
.section-title {
    margin: 2em 0 2em 0;
    width: max-content;
    text-align: left;
    padding: 2em 2em;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid black;

}
.section-title * {
    font-family: "Caveat Brush";
    color:white ;
    margin: 0;
    letter-spacing: 0px;
}

.section-title h1 {
    font-size: 2em;
}
.section-title h2 {
    font-size: 1.7em;
    margin-top: 10px;
}
@media (min-width:800px){
    .section-title h1{
        font-size: 3em;
    }
    .section-title h2{
        font-size: 2em;
    }
}

.video-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    align-self: center;
    height: min-content;
    width: min-content;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
}

.video-wrapper::before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 200px;
    content: "Watch Now";
    color: white;
}

.video-wrapper iframe {
    height: max-content;
    width: fit-content;
    filter: brightness(1%) drop-shadow(0 0 3px rgb(68, 68, 68));

    transition: filter 0.45s ease-out;
}

.video-wrapper iframe:hover{
    filter: brightness(90%);
}
.video-wrapper:hover::before{
    opacity: 0;
}

/*projects section*/

section#projects {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#projects > .projects-wrapper {

}

.projects-wrapper > .projects-container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    left: 0;
}

.projects-container > .project-info-container{
    width: 300px;
    margin: 0 2em;
}

.project-info-container > img {
    width: 100%;
}